@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    background-image: radial-gradient(circle 975px at 2.6% 48.3%, rgba(1, 62, 210, 1) 0%, rgba(0, 57, 197, 1) 99.7%);
    min-width: 270px;
    max-width: 270px;    
}

.content {
    position: absolute;
    top: 0;
    left: 270px;
    width: calc(100% - 286px);
    display: flex;   
    flex-direction: column;
}




.sidebar nav li:hover, .sidebar nav li.active{
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;

}

.sidebar nav li.active {
    border: 1px solid white;
}

.email{
    color: rgb(180, 180, 180);
}